html { width: 100%; height: 100%; overflow: hidden; }

body {
    --bs-body-font-size: .8rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #adbac7;
    --bs-body-bg: #22272e;
    
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #444c56;
    
    --bs-link-color: #f39c12;
    --bs-link-hover-color: #c87f0a;
    
    --bs-success: #0f0;
    --bs-success-rgb: 0,255,0;
    
    width: 100%; height: 100%; overflow: hidden;
}

a { text-decoration: none; }

.text-bg-danger { border-color: #dc3545!important; }
.text-bg-success { border-color: #198754!important; }

:focus-visible { outline: none; }

::-webkit-scrollbar { width: .25rem; height: .35rem; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { border-radius: .25rem; background: rgba(255, 255, 255, .125); }

.scrollbar { height: 100%; overflow-y: auto; overflow-x: hidden; scrollbar-color: rgba(255, 255, 255, .075); scrollbar-width: thin; }

.nav {
    --bs-nav-link-padding-x: .75rem;
    --bs-nav-link-padding-y: .25rem;
    --bs-nav-link-color: #f39c12;
    --bs-nav-link-hover-color: #c87f0a;
}

.nav-pills {
    --bs-nav-pills-link-active-color: #22272e;
    --bs-nav-pills-link-active-bg: #f39c12;
}

.dropdown-menu {
    --bs-dropdown-min-width: 15rem;
    --bs-dropdown-padding-x: .5rem;
    --bs-dropdown-padding-y: .5rem;
    --bs-dropdown-font-size: .8rem;
    --bs-dropdown-bg: #22272e;
    --bs-dropdown-color: #adbac7;
    --bs-dropdown-border-color: #f39c12;
}

.btn {
    --bs-btn-padding-x: .75rem;
    --bs-btn-padding-y: .25rem;
    --bs-btn-font-size: .8rem;
    --bs-btn-font-weight: 600;
    --bs-btn-color: #fff;
    --bs-btn-bg: #444c56;
    --bs-btn-hover-bg: #c87f0a;
    --bs-btn-hover-color: #22272e;
    --bs-btn-active-bg: #f39c12;
    --bs-btn-active-color: #22272e;
    --bs-btn-disabled-opacity: 0.5;
}

.btn-close:focus { box-shadow: none; }

.btn-primary {
    --bs-btn-bg: #f39c12;
    --bs-btn-color: #22272e;
    --bs-btn-border-color: #f39c12;
    --bs-btn-hover-color: #22272e;
    --bs-btn-hover-bg: #c87f0a;
    --bs-btn-hover-border-color: #c87f0a;
    --bs-btn-active-color: #22272e;
    --bs-btn-active-bg: #c87f0a;
    --bs-btn-active-border-color: #22272e;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #22272e;
    --bs-btn-disabled-bg: #f39c12;
    --bs-btn-disabled-border-color: #f39c12;
}

.btn-danger {
    --bs-btn-bg: #dc3545;
    --bs-btn-color: #fff;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-border-color: #dc3545;
}

.card {
    --bs-card-spacer-y: .5rem;
    --bs-card-spacer-x: .5rem;
    --bs-card-border-color: #343a40;
    --bs-card-cap-padding-y: .25rem;
    --bs-card-cap-padding-x: .25rem;
    --bs-card-cap-bg: transparent;
    --bs-card-bg: #343a40;
}

.card-header { border: 0; }

.card-footer { border: 0; }

.progress {
    --bs-progress-height: 3px;
    --bs-progress-bg: #000;
    
    width: 55px;
}

.modal {
    --bs-modal-bg: #343a40;
    --bs-modal-border-color: #f39c12;
}

.modal-content { padding: .5rem; }

.form-control {
    font-size: var(--bs-body-font-size); color: #fff;
    background-color: #444c56;
    padding: .25rem .5rem;
    border: 1px solid #444c56;
}
.form-control:focus {
    color: #fff;
    background-color: #444c56;
    border-color: #f39c12;
    box-shadow: none;
}

.toast {
    --bs-toast-padding-x: .5rem;
    --bs-toast-padding-y: .25rem;
    --bs-toast-spacing: 1rem;
    --bs-toast-font-size: var(--bs-body-font-size);
    --bs-toast-color: var(--bs-body-color);
    --bs-toast-bg: #343a40;
    --bs-toast-border-width: 1px;
    --bs-toast-border-color: #f39c12;
    --bs-toast-box-shadow: none;
}
////////////////////////////////////////////////////////////////////////////////

@keyframes flicker {
    0%   { opacity: .9; }
    50%  { opacity: .1; }
    100% { opacity: .9; }
}
@-o-keyframes flicker{
    0%   { opacity: .9; }
    50%  { opacity: .1; }
    100% { opacity: .9; }
}
@-moz-keyframes flicker{
    0%   { opacity: .9; }
    50%  { opacity: .1; }
    100% { opacity: .9; }
}
@-webkit-keyframes flicker{
    0%   { opacity: .9; }
    50%  { opacity: .1; }
    100% { opacity: .9; }
}

.flicker {
   -webkit-animation: flicker 2s infinite;
   -moz-animation: flicker 2s infinite;
   -ms-animation: flicker 2s infinite;
   -o-animation: flicker 2s infinite;
    animation: flicker 2s infinite;
}    

////////////////////////////////////////////////////////////////////////////////
