html { width: 100%; height: 100%; overflow: hidden; }

body {
    --bs-body-font-size: .8rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #adbac7;
    --bs-body-bg: #22272e;
    
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #444c56;
    
    --bs-link-color: #f39c12;
    --bs-link-hover-color: #c87f0a;
    
    --bs-success: #0f0;
    --bs-success-rgb: 0,255,0;
    
    width: 100%; height: 100%; overflow: hidden;
}

a { text-decoration: none; }

:focus-visible { outline: none; }

::-webkit-scrollbar { width: .25rem; height: .35rem; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { border-radius: .25rem; background: rgba(255, 255, 255, .125); }

.scrollbar { height: 100%; overflow-y: auto; overflow-x: hidden; scrollbar-color: rgba(255, 255, 255, .075); scrollbar-width: thin; }

.nav {
    --bs-nav-link-padding-x: .75rem;
    --bs-nav-link-padding-y: .25rem;
    --bs-nav-link-color: #f39c12;
    --bs-nav-link-hover-color: #c87f0a;
}

.nav-pills {
    --bs-nav-pills-link-active-color: #22272e;
    --bs-nav-pills-link-active-bg: #f39c12;
}

.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: initial;
}

.dropdown-menu {
    --bs-dropdown-min-width: calc(100% - 1rem);
    --bs-dropdown-padding-x: .5rem;
    --bs-dropdown-padding-y: .5rem;
    --bs-dropdown-font-size: .8rem;
    --bs-dropdown-bg: #22272e;
    --bs-dropdown-color: #adbac7;
    --bs-dropdown-border-color: #f39c12;

    transform: translate3d(0px, 83.5px, 0px)!important;
    right: .5rem!important; left: .5rem!important;
}

.btn {
    --bs-btn-padding-x: .75rem;
    --bs-btn-padding-y: .25rem;
    --bs-btn-font-size: .8rem;
    --bs-btn-color: #adbac7;
    --bs-btn-bg: #444c56;
    --bs-btn-active-color: #22272e;
    --bs-btn-active-bg: #f39c12;
}

.btn-primary {
    --bs-btn-color: #22272e;
    --bs-btn-bg: #f39c12;
    --bs-btn-border-color: #f39c12;
    --bs-btn-hover-color: #22272e;
    --bs-btn-hover-bg: #c87f0a;
    --bs-btn-hover-border-color: #c87f0a;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #22272e;
    --bs-btn-active-bg: #c87f0a;
    --bs-btn-active-border-color: #22272e;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #22272e;
    --bs-btn-disabled-bg: #f39c12;
    --bs-btn-disabled-border-color: #f39c12;
}

.btn-danger {
    --bs-btn-bg: transparent;
    --bs-btn-color: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-disabled-color: #dc3545;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #dc3545;
}

.card {
    --bs-card-spacer-y: .5rem;
    --bs-card-spacer-x: .5rem;
    --bs-card-border-color: #444c56;
    --bs-card-cap-padding-y: .5rem;
    --bs-card-cap-padding-x: .5rem;
    --bs-card-cap-bg: transparent;
    --bs-card-bg: transparent;
}

.card-header { border: 0; }

.card-footer { border: 0; }

.progress {
    --bs-progress-height: 3px;
    --bs-progress-bg: #000;
    
    width: 75px;
}
